<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>

<link rel="stylesheet" type="text/css" href="../stylesheets/common.css"/>
<script src="../javascripts/activities.js"></script>
<div class="container text-center">
        <h1 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Activities Breakdown&nbsp;<i class="fas fa-chart-line" style='font-size:80px; color: #FF0000;'></i></h1 class="">
</div>
<div class="container" style="padding-bottom: 50px;" id="graphContainer">

        <canvas  id="caloriesBurned" width="400" height="210" style="border: 2px white; border-radius: 20px"></canvas>
</div>
<hr>

<div class="container" style="padding-bottom: 30px;">
<h2 class="text-center">Daily Summary&nbsp;<i class="fas fa-tachometer-alt" style='font-size:40px; color:orange;'></i></h2>
<div class="row">
  <div class="col-4 text-center">
    <h3>Calories In/Out Goal Balance&nbsp;<i class="fas fa-balance-scale" style='font-size:35px; color: rgb(26, 197, 26);'></i></h3>
  <canvas id="balanceGauge"  height="225" width="570" style="width: 380px; height: 150px;"></canvas>
<h3 id ="balStatus"></h3>
<h4 id="inVsOut" class="text-center"></h4>
</div>
<div class="col-4 text-center">
    <h3>Active Minutes Goal&nbsp;<i class="fas fa-clock" style='font-size:35px; color: yellow;'></i></h3>
  <canvas id="minutesGauge"  height="225" width="570" style="width: 380px; height: 150px;"></canvas>
<h3 id ="minStatus"></h3>
</div>
<div class="col-4 text-center">
    <h3>Daily Distance Goal&nbsp;<i class="fas fa-running" style='font-size:35px; color: #FF0000;'></i></h3>
  <canvas id="distanceGauge"  height="225" width="570" style="width: 380px; height: 150px;"></canvas>
<h3 id ="distStatus"></h3>
</div>
</div>
</div>
<hr>
<div class="container" style="padding-bottom: 10px;">
  <div id="accordion">

  <div class="card" style="border-radius:5px">
    <div class="card-header" style="background-color: #343a40; border-radius:5px">
      <a class="card-link" data-toggle="collapse" href="#collapseOne " style="color: white;">
        What is BMR and how does it work?
      </a>
    </div>
    <div id="collapseOne" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Did you know you are always burning calories throughout the day, even without activities! This is because of your Basal
        Metabolic Rate (BMR). Your BMR (Basal Metabolic Rate) is an estimate of how many calories your body burns at rest. It represents the minimum amount of energy needed to keep your body functioning, including breathing and keeping your heart beating. Your BMR uses up about two-thirds of your daily calories.<br><br>
        <h5 id="bmr" style="font-family:'Oswald',sans-serif;"></h5>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="container" style="padding-bottom: 25px;">
  <div id="accordion1">

  <div class="card" style="border-radius:5px">
    <div class="card-header" style="background-color: #343a40; border-radius:5px">
      <a class="card-link" data-toggle="collapse" href="#collapseTwo " style="color: white;">
        Your Current Trends and Personal Recommendations!
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion1">
      <div class="card-body" id="cardbody">
         <h3 style="font-family:'Oswald',sans-serif;">Current Activity Trends&nbsp;<i class="fas fa-chart-line" style='font-size:40px; color: #FF0000;'></i></h3>
         <div>According to your current trend in activities to achieve your goal, we can see your top two productive days of the week so far in this month are:</div><br>
         <div id="trend" style="font-family:'Oswald',sans-serif;"></div>
         <div id="monthNum" style="font-family:'Oswald',sans-serif;"></div><br>
          <h3 style="font-family:'Oswald',sans-serif;">Activities Recommendations&nbsp;<i class="fas fa-running" style='font-size:40px; color: #FF0000;'></i></h3>
          <h5 style="font-family:'Oswald',sans-serif;">How active do I need to be with my favourite activities?</h5>
          <div id="activityRec"></div><br>
          <h5 style="font-family:'Oswald',sans-serif;">Try Different Activities!</h5>
       
      </div>
    </div>
  </div>
  </div>
</div>
</div>

<div class="container text-center" style="padding-bottom: 30px;">
<h2 class="text-left">Daily Activity Logs&nbsp;<i class="fas fa-pen" style='font-size:50px; color:yellow;'></i></h2>
<table class="table table-striped table-bordered" id="activityLog">
<thead class="thead-dark">
    <tr>
      <th scope="col">Start Time</th>
      <th scope="col"> Name</th>
      <th scope="col"> Description</th>
      <th scope="col"> Distance</th>
      <th scope="col">Duration</th>
      <th scope="col">Calories Burned</th>
      <th scope="col" align="right">Manage</th>
    </tr>
  </thead>
    <tbody>
    
  </tbody>
</table>
</div>

<div class="container" style="padding-bottom: 30px;">
<h2 class="text-left">Create Activity Log&nbsp;<i class="fas fa-pen" style='font-size:50px; color:yellow; padding-bottom:10px;'></i></h2>
  
                   
                <hr>
                
                <form id="logForm">
                    <div class="form-row">
                        
                        <div class="form-group col-sm-6">
                            <label >Select Activity *</label>
                            <select class="form-control" id="logActivity" name="logActivity">
                             
                                    
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Start Time * </label>
                            <input type="text" class="form-control colon" id="logStartTime" name="logStartTime" placeholder="HH:mm">
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Duration *</label>
                            <input type="text" class="form-control colon" id="logDuration" name="logDuration" placeholder="HH:mm:ss">
                        </div>
                        <div class="form-group col-sm-6">
                            <label >Calories Burned</label>
                            <input type="number" class="form-control" id="logCals">
                            <div class="small text-muted">Required for custom activities</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Distance</label>
                            <input type="number" class="form-control" id="logDist">
                              <div class="small text-muted">Applicable to only walk and run categories</div>
                        </div>
                         
                        <div id="passError" class="error col-sm-12"></div>
                        
                         <div class="form-group col-5">
                           <button  type="button" class=" btn btn-outline-success" id="saveActivity">Save</button>
                        </div>
                         <div class="form-group col-1.5">
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#ManageFaveActivities">
                        Favourites</button>
                       </div>
                        <div class="form-group col-2">
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#createActivity">
                       Log New</button>
                       </div>
                        <div class="form-group col-2.5">
                          <label>* Required fields</label>
                        
                        </div>
                    </div>
                </form>
                <hr>

<div class="container" style="padding-bottom: 1px;">
<h2 id="progressStatus"></h2>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" id="red" style="">
    Long Way to go!
  </div>
  <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" id="yellow" style="">
    Getting there!
  </div>
  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" id="green" style="">
    Almost there!
  </div>
</div>
</div>
<div class="container text-right" style="padding-bottom: 20px;">
        <h4 style="color: rgb(13, 189, 13);" id="goal"></h4>
</div>




<!-- Modal -->
<div class="modal fade" id="ManageFaveActivities" tabindex="-1" role="dialog" aria-labelledby="ManageFaveActivitiesTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="ManageFaveActivitiesTitle">Favourite Activities&nbsp;<i class="far fa-star" style='font-size:50px; color:yellow; padding-bottom:10px;'></i> </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container-fluid">
         <form id="faveForm">
                    <div class="form-row">
                        
                        <div class="form-group col-sm-12">
                            <h3 >Add Favourite Activity</h3>
                            <div class="form-row">
                              <div class="form-group col-sm-9">
                             <input list="hosting-activities" type="text" class="form-control" id="addFave" placeholder="start typing....">
                             <datalist id="hosting-activities">
                               

                             </datalist>
                            </div>
                        
                        <div class="form-group col-sm-3">
                          
                             <button type="button" class="btn btn-success" id="submitFave">
                       Submit</button>
                       </div>
                        </div>
                        </div>

                         <div class="form-group col-sm-12">
                            <h3 >Delete Favourite Activity</h3>
                            <div class="form-row">
                              <div class="form-group col-sm-9">
                             <input list="fave-activities" type="text" class="form-control" id="deleteFave" placeholder="search favourite....">
                             <datalist id="fave-activities">
                               

                             </datalist>
                            </div>
                        
                        <div class="form-group col-sm-3">
                          
                             <button type="button" class="btn btn-danger" id="delFave">
                       Delete</button>
                       </div>
                        </div>
                        </div>
                        
                    </div>
                </form>
                </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="createActivity" tabindex="-1" role="dialog" aria-labelledby="createActivityTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="createActivityTitle">Log New Activity&nbsp;<i class="fas fa-running" style='font-size:50px; color:red; padding-bottom:10px;'></i> </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container-fluid">
             <form id="createForm">
                    <div class="form-row">
                        
                        <div class="form-group col-sm-6">
                            <label >Activity Name*</label>
                            <input type="text" class="form-control" id="newActivity" name="newActivity" placeholder="name...">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Start Time * </label>
                            <input type="text" class="form-control colon" id="newStartTime" name="newStartTime" placeholder="HH:mm">
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Duration *</label>
                            <input type="text" class="form-control colon" id="newDuration" name="newDuration" placeholder="HH:mm:ss">
                        </div>
                        <div class="form-group col-sm-6">
                            <label >Calories Burned *</label>
                            <input type="number" class="form-control" id="newCals" name="newCals">
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Distance(optional)</label>
                            <input type="number" class="form-control" id="newDist">
                        </div>
                         
                        <div id="newError" class="error col-sm-12"></div>
                        
                         <div class="form-group col-6">
                           <button  type="button" class=" btn btn-outline-success" id="saveNewActivity">Save</button>
                        </div>
        
          
          </div>
                
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>