<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script src="../javascripts/goals.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/common.css"/>
<div class="container text-center" style="padding-bottom: 20px;">
        <h1 class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-12">Manage Your Goals&nbsp;<i class="fas fa-bullseye" style='font-size:80px; color: green;'></i></h1>
</div>
<div class="container text-center">
<h2 class="text-left">Daily Activity Goals&nbsp;<i class="fas fa-running" style='font-size:50px; color:green;'></i></h2>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="name">Daily Steps Goal</td>
      <td id="stepval" class="editableColumns"></td>
      <td><input type="submit" value="Edit" class="editActivity"><input type="submit" disabled="true" value="Save" class="saveActivity"></td>
    </tr>
    <tr>
      <td class="name">Daily Active Minutes</td>
      <td id="activeMins" class="editableColumns"></td>
      <td><input type="submit" value="Edit" class="editActivity"><input type="submit" disabled="true" value="Save" class="saveActivity"></td>
    </tr>
    <tr>
      <td class="name">Daily Calories burned(including BMR calories)</td>
      <td id="calOutval" class="editableColumns"></td>
      <td><input type="submit" value="Edit" class="editActivity"><input type="submit" disabled="true" value="Save" class="saveActivity"></td>
    </tr>
    <tr>
      <td class="name">Daily Distance covered</td>
      <td id="distval" class="editableColumns"></td>
      <td><input type="submit" value="Edit" class="editActivity"><input type="submit" disabled="true" value="Save" class="saveActivity"></td>
    </tr>
  </tbody>
</table>


</div>

<div class="container text-center">
<h2 class="text-left">Weight Goals&nbsp;<i class="fas fa-fire-alt" style='font-size:50px; color:orange;'></i></h2>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Start Date(dd-mm-yyyy)</th>
      <th scope="col">Start Weight(kg)</th>
      <th scope="col">Goal Weight(kg)</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="startDate" class="startEditable"></td>
      <td id="startweight" class="weightEditable"></td>
      <td id="GoalWeight" class="weightEditable"></td>
      <td><input type="submit" value="Edit" class="editWeight"><input type="submit" disabled="true" value="Save" class="saveWeight"></td>
    </tr>
    
  </tbody>
</table>


</div>

<div class="container text-center">
<h2 class="text-left">Weight Logs&nbsp;<i class="fas fa-pen" style='font-size:50px; color:yellow;'></i></h2>
<table class="table table-striped table-bordered" id="weightlog">
<thead class="thead-dark">
    <tr>
      <th scope="col">Date(dd-mm-yyyy)</th>
      <th scope="col"> Time</th>
      <th scope="col"> Weight(kg)</th>
      <th scope="col">BMI</th>
      <th scope="col" align="right">Manage</th>
    </tr>
  </thead>
    <tbody>
    
  </tbody>
</table>
</div>

<div class="container" style="padding-bottom: 30px;">
<h2 class="text-left">Create Weight Log&nbsp;<i class="fas fa-pen" style='font-size:50px; color:yellow; padding-bottom:10px;'></i></h2>
  
   Date:
  <input type="text" name="weightdate" class="logtextDate colon" placeholder="DD-MM-YYYY">
   Weight(kg):
  <input type="number" name="weight" class="logtext">
  <input type="submit" value="submit" class="submitLog">


</div>

<div class="container" style="padding-bottom: 1px;">
<h2 id="progressStatus"></h2>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" id="red" style="">
    Long Way to go!
  </div>
  <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" id="yellow" style="">
    Getting there!
  </div>
  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" id="green" style="">
    Almost there!
  </div>
</div>
</div>
<div class="container" style="padding-bottom: 20px;">
  <div class="row justify-content-between">
     <h4 style="color: red;" id="start"></h4>
        <h4 style="color: rgb(13, 189, 13);" id="goal"></h4>
    </div>
</div>

<div class="container text-center" style="padding-bottom: 30px;">
<h2 class="text-left">Daily Food Goals(Based on Activity Progress)&nbsp;<i class="fas fa-utensils" style='font-size:50px; color:red;'></i></h2>
<h4  id="gainMessage" style="color: #FF0000;"></h4>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Calories In(kcal)</th>
      <th scope="col">Food Plan Intensity Code</th>
      <th scope="col">Estimated End date</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="foodCals" class="foodEditable"></td>
      <td id="intensity" class="foodEditableList"></td>
      <td id="endDate" class="foodEditable"></td>
      <td><input type="submit" value="Edit" class="editFood"><input type="submit" disabled="true" value="Save" class="saveFood"></td>
    </tr>
    
  </tbody>
</table>
 
</div>

<div class="container text-center">
<h2 class="text-left">Daily Nutritional Value Goals&nbsp;<i class="fas fa-utensils" style='font-size:50px; color:red;'></i></h2>
<h4  id="gMessage" style="color: #FF0000;"></h4>
<table id="nutrition" class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nutritional Value 1</th>
      <th scope="col">Amount </th>
      <th scope="col">Nutritional Value 2</th>
      <th scope="col">Amount</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="val1" class="nutritionEditable"></td>
      <td id="amount1" class="nutritionAmount"></td>
      <td id="val2" class="nutritionEditable"></td>
      <td id="amount2" class="nutritionAmount"></td>
      <td><input type="submit" value="Edit" class="editNutrition"><input type="submit" disabled="true" value="Save" class="saveNutrition"></td>
    </tr>
    
  </tbody>
</table>
 
</div>

<div class="modal fade" id="goalCalculator" tabindex="-1" role="dialog" aria-labelledby="goalCalculatorTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="goalCalculatorTitle">Calories Burned Goal Calculator&nbsp;<i class="fas fa-running" style='font-size:50px; color:red; padding-bottom:10px;'></i> </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container-fluid">
        <form id="calculate">
                    <div class="form-row">
                        
                        <div class="form-group col-sm-6">
                            <label >Weight *</label>
                            <input class="form-control" id="weight" name="weight" type="number" placeholder="kg">
                       
                        </div>
                        <div class="form-group col-sm-6">
                           <label >Height * </label>
                            <input class="form-control" id="height" name="height" type="number" placeholder="cm">
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Age *</label>
                            <input type="number" class="form-control" id="age" name="age" name="newAmount">
                        </div>
                        <div class="form-group col-sm-6">
                            <label >Sex *</label>
                           <select class="form-control" id="gender">
                             <option value="1">Male</option>
                             <option value="2">Female</option>
                           </select>          
                        </div>
                        <div class="form-group col-sm-12">
                            <label >Acitvity Level *</h3>
                            <div class="form-row">
                              <div class="form-group col-sm-9">
                              <select class="form-control" id="effort">
                                  <option value="1.2">Sedentary(inactive)</option>
                                   <option value="1.375">Mild(1 - 3 days a week)</option>
                                    <option value="1.55">Moderate( 3 - 4 days a week) </option>
                                     <option value="1.7">Heavy(5 - 7 days a week)</option>
                                     <option value="1.9">Extreme(multiple sessions daily)</option>
                                </select>
                            </div>
                        
                        <div class="form-group col-sm-3">
                          
                             <button type="button" class="btn btn-success" id="calculateButton">
                       Calculate</button>
                       </div>
                        </div>
                        </div>
                       
                         
                        

                         <h3 id="goalCalc" class="col-sm-12" style="color: rgb(82, 226, 82);"></div>
                         </form>
                </div>
                
        
      </div>
      <div class="modal-footer">
        <button type="button" disabled class="btn btn-success" data-dismiss="modal" id="useThis">Use value</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="nutInfo1" tabindex="-1" role="dialog" aria-labelledby="nutInfoTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="nutInfoTitle">Nutrition Goal Information&nbsp;<i class="fas fa-utensils" style='font-size:50px; color:red; padding-bottom:10px;'></i> </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container-fluid">
           <h2>Carbohydrates&nbsp;<i style="color: rgb(218, 218, 45);" class="fas fa-bread-slice"></i></h2>
           <p>The dietary guidelines recommend that carbs provide 45 to 65 percent of your daily calorie intake.</p>
           <h5 id ="carbInfo" style="color: rgb(218, 218, 45);">hi</h5>
           <form>
             <div class="form-row justify-content-between">
             <div class="form-group col-sm-5">
             <label style="font-weight:bold;">Percentage:</label>
             <input type="number" class="form-control" id="carbpercent">
             </div>
             <div class="form-group col-sm-5">
             <label style="font-weight:bold;">Value in Grams:</label>
             <h4 id="carbgrams" style="color: rgb(218, 218, 45);">26 grams</h4>
             </div>
             </div>
             </form>
             <button class="btn btn-success" style="height: 40px;" id="usecarb" data-dismiss="modal">Use this</button>
                 
          </div>
          <div class="container-fluid">
           <h2>Protein&nbsp;<i style="color: rgb(94, 228, 94);" class="fas fa-egg"></i></h2>
           <p>A common recommendation for gaining muscle is 2.2 grams of protein per kg. Other scientists have estimated the protein needs to be a minimum of 1.6 grams per kg.</p>  
           <p>Most official nutrition organizations recommend a fairly modest protein intake. The DRI (Dietary Reference Intake) is 0.8 grams of protein per kilogram of body weight</p>      
          
           <h5 id ="proteinInfo" style="color: rgb(94, 228, 94);">hi</h5>
           <form>
             <div class="form-row justify-content-between">
             <div class="form-group col-sm-5">
             <label style="font-weight:bold; ">grams per kg:</label>
             <input type="number" class="form-control" id="proteinpercent">
             </div>
             <div class="form-group col-sm-5">
             <label style="font-weight:bold; ">Value in Grams:</label>
             <h4 id="proteingrams" style="color:rgb(94, 228, 94);">26 grams</h4>
             </div>
             </div>
             </form>
             <button class="btn btn-success" style="height: 40px;"id="useprotein" data-dismiss="modal" >Use this</button>
          </div>  
          <div class="container-fluid">
           <h2>Fiber&nbsp;<i style="color: purple;" class="fab fa-apple"></i></h2>
           <p>Total dietary fiber intake should be 25 to 30 grams a day from food, not supplements.This number may also depend on age or sex: women under 50: 21 to 25 grams per day. men under 50: 30 to 38 grams per day.</p>  
           <h5 id ="fiberInfo" style="color: purple;">hi</h5>  
           <form>
             <div class="form-row justify-content-between">
             
             <div class="form-group col-sm-8">
             <label style="font-weight:bold;">Value Recommended in Grams:</label>
             <h4 id="fibergrams" style="color: purple;">26 grams</h4>
             </div>
             </div>
             </form>
             <button class="btn btn-success" style="height: 40px;" id="usefiber" data-dismiss="modal">Use this</button>
                     
          </div>  
          <div class="container-fluid">
           <h2>Fat&nbsp;<i style="color: #FF0000;" class="fas fa-cheese"></i></h2>
           <p>The dietary reference intake (DRI) for fat in adults is 20% to 35% of total calories from fat.</p> 
           <h5 id ="fatInfo" style="color: #FF0000;">hi</h5>   
           <form>
             <div class="form-row justify-content-between">
             <div class="form-group col-sm-5">
             <label style="font-weight:bold;">Percentage:</label>
             <input type="number" class="form-control" id="fatpercent">
             </div>
             <div class="form-group col-sm-5">
             <label style="font-weight:bold;">Value in Grams:</label>
             <h4 id="fatgrams" style="color: #FF0000;">26 grams</h4>
             </div>
             </div>
             </form>
             <button class="btn btn-success" style="height: 40px;" id="usefat" data-dismiss="modal">Use this</button>
                     
          </div>       
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="nutInfo2" tabindex="-1" role="dialog" aria-labelledby="nutInfo2Title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="nutInfo2Title">Nutrition Goal Information&nbsp;<i class="fas fa-utensils" style='font-size:50px; color:red; padding-bottom:10px;'></i> </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
         <div class="container-fluid">
           <h2>Carbohydrates&nbsp;<i style="color: rgb(218, 218, 45);" class="fas fa-bread-slice"></i></h2>
           <p>The dietary guidelines recommend that carbs provide 45 to 65 percent of your daily calorie intake.</p>
           <h5 id ="carbInfo2" style="color: rgb(218, 218, 45);">hi</h5>
           <form>
             <div class="form-row justify-content-between">
             <div class="form-group col-sm-5">
             <label style="font-weight:bold;">Percentage:</label>
             <input type="number" class="form-control" id="carbpercent2">
             </div>
             <div class="form-group col-sm-5">
             <label style="font-weight:bold;">Value in Grams:</label>
             <h4 id="carbgrams2" style="color: rgb(218, 218, 45);">26 grams</h4>
             </div>
             </div>
             </form>
             <button class="btn btn-success" style="height: 40px;" id="usecarb2" data-dismiss="modal">Use this</button>
                 
          </div>
          <div class="container-fluid">
           <h2>Protein&nbsp;<i style="color: rgb(94, 228, 94);" class="fas fa-egg"></i></h2>
           <p>A common recommendation for gaining muscle is 2.2 grams of protein per kg. Other scientists have estimated the protein needs to be a minimum of 1.6 grams per kg.</p>  
           <p>Most official nutrition organizations recommend a fairly modest protein intake. The DRI (Dietary Reference Intake) is 0.8 grams of protein per kilogram of body weight</p>      
          
           <h5 id ="proteinInfo2" style="color: rgb(94, 228, 94);">hi</h5>
           <form>
             <div class="form-row justify-content-between">
             <div class="form-group col-sm-5">
             <label style="font-weight:bold; ">grams per kg:</label>
             <input type="number" class="form-control" id="proteinpercent2">
             </div>
             <div class="form-group col-sm-5">
             <label style="font-weight:bold; ">Value in Grams:</label>
             <h4 id="proteingrams2" style="color:rgb(94, 228, 94);">26 grams</h4>
             </div>
             </div>
             </form>
             <button class="btn btn-success" style="height: 40px;"id="useprotein2" data-dismiss="modal" >Use this</button>
          </div>  
          <div class="container-fluid">
           <h2>Fiber&nbsp;<i style="color: purple;" class="fab fa-apple"></i></h2>
           <p>Total dietary fiber intake should be 25 to 30 grams a day from food, not supplements.This number may also depend on age or sex: women under 50: 21 to 25 grams per day. men under 50: 30 to 38 grams per day.</p>  
           <h5 id ="fiberInfo2" style="color: purple;">hi</h5>  
           <form>
             <div class="form-row justify-content-between">
             
             <div class="form-group col-sm-8">
             <label style="font-weight:bold;">Value Recommended in Grams:</label>
             <h4 id="fibergrams2" style="color: purple;">26 grams</h4>
             </div>
             </div>
             </form>
             <button class="btn btn-success" style="height: 40px;" id="usefiber2" data-dismiss="modal">Use this</button>
                     
          </div>  
          <div class="container-fluid">
           <h2>Fat&nbsp;<i style="color: #FF0000;" class="fas fa-cheese"></i></h2>
           <p>The dietary reference intake (DRI) for fat in adults is 20% to 35% of total calories from fat.</p> 
           <h5 id ="fatInfo2" style="color: #FF0000;"></h5>   
           <form>
             <div class="form-row justify-content-between">
             <div class="form-group col-sm-5">
             <label style="font-weight:bold;">Percentage:</label>
             <input type="number" class="form-control" id="fatpercent2">
             </div>
             <div class="form-group col-sm-5">
             <label style="font-weight:bold;">Value in Grams:</label>
             <h4 id="fatgrams2" style="color: #FF0000;">26 grams</h4>
             </div>
             </div>
             </form>
             <button class="btn btn-success" style="height: 40px;" id="usefat2" data-dismiss="modal">Use this</button>
                     
          </div>       
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>