
<div class="container text-center" style='margin-top:10px'>
 <button type="button" class="btn btn-outline-danger col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style='font-size:30px' onclick="window.location.href = 'heartrate';">
     <i class="fas fa-heartbeat" style='font-size:100px'></i><br>Heart rate</button>
 <button type="button" class="btn btn-outline-warning  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style='font-size:30px' onclick="window.location.href = 'stepcount';">
     <i class="fas fa-shoe-prints" style='font-size:100px'></i><br>Step Count</button>
 <button type="button" class="btn btn-outline-success  col-3 col-sm-3 col-md-3 col-lg-3 col-xl-4" style='font-size:30px' onclick="window.location.href = 'goals';">
     <i class="fas fa-bullseye" style='font-size:100px'></i><br>Goals</button>
</div>

<div class="container text-center">
 <button type="button" class="btn btn-outline-danger col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style='font-size:30px' onclick="window.location.href = 'activities';">
      <i class="fas fa-running" style='font-size:100px'></i><br>Activities</button>
 <button type="button" class="btn btn-outline-warning col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style='font-size:30px' onclick="window.location.href = 'nutrition';">
     <i class="fas fa-utensils" style='font-size:100px'></i><br>Nutrition</button>
 <button type="button" class="btn btn-outline-success col-3 col-sm-3 col-md-3 col-lg-3 col-xl-4" style='font-size:30px' onclick="window.location.href = 'profile';">
     <i class="fas fa-user" style='font-size:100px'></i><br>Profile</button>
</div>