<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/common.css"/>
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script src="../javascripts/nutrition.js"></script>
<div class="container text-center">
        <h1 class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-12">Nutrition Breakdown&nbsp;<i class="fas fa-chart-line" style='font-size:80px; color: yellow;'></i></h1 class="">
</div>
<div class="container" style="padding-bottom: 50px;" id="graphContainer">

        <canvas class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-12" id="caloriesIn" width="1400vw" height="475vh" style="border: 2px white; border-radius: 20px"></canvas>
</div>
<hr>
<div class="container" style="padding-bottom: 30px;">
<h2 class="text-center">Daily Summary&nbsp;<i class="fas fa-tachometer-alt" style='font-size:40px; color:orange;'></i></h2>
<div class="row">
  <div class="col-4 text-center">
    <h3>Calories In/Out Goal Balance&nbsp;<i class="fas fa-balance-scale" style='font-size:40px; color: rgb(26, 197, 26);'></i></h3>
  <canvas id="balanceGauge"  height="225" width="570" style="width: 380px; height: 150px;"></canvas>
<h3 id ="balStatus"></h3>
<h4 id="inVsOut" class="text-center"></h4>
</div>
</div>
</div>
<hr>
<div class="container text-center" style="padding-bottom: 30px;">
<h2 class="text-left">Daily Nutrition Logs&nbsp;<i class="fas fa-pen" style='font-size:50px; color:yellow;'></i></h2>
<table class="table table-striped table-bordered" id="nutritionLog">
<thead class="thead-dark">
    <tr>
      <th scope="col">Food Name</th>
      <th scope="col"> Meal Type</th>
      <th scope="col"> Amount</th>
      <th scope="col"> Brand</th>
      <th scope="col">Calories</th>
      <th scope="col">Carbohydrates</th>
      <th scope="col">Fats</th>
      <th scope="col">Fiber</th>
      <th scope="col">Protein</th>
      <th scope="col" align="right">Manage</th>
    </tr>
  </thead>
    <tbody>
    
  </tbody>
</table>
</div>

<div class="container" style="padding-bottom: 30px;">
<h2 class="text-left">Create Nutrition Log&nbsp;<i class="fas fa-pen" style='font-size:50px; color:yellow; padding-bottom:10px;'></i></h2>
  
                   
                <hr>
                
                <form id="logForm">
                    <div class="form-row">
                        
                        <div class="form-group col-sm-6">
                            <label >Select Food *</label>
                            <select class="form-control" id="logFood" name="logFood">
                             
                                    
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Meal Type * </label>
                            <select class="form-control" id="logType" name="logType">
                                    <option value="1">Breakfast</option>
                                    <option value="2">Morning Snack</option>
                                    <option value="3">Lunch</option>
                                    <option value="4">Afternoon Snack</option>
                                    <option value="5">Dinner</option>
                                    <option value="7">Anytime</option>
                             

                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Amount *</label>
                            <input type="number" class="form-control" id="logAmount" name="logAmount">
                        </div>
                        <div class="form-group col-sm-6">
                            <label >Units *</label>
                            <select class="form-control" id="logUnit" name="logUnit">
                             

                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Set as Favourite(optional)</label>
                            <select class="form-control" id="logFave">
                              <option value="N/A">N/A</option>
                                
                                    <option value="false">false</option>
                                    <option value="true">true</option>
                             

                            </select>
                        </div>
                        <div id="passError" class="error col-sm-12"></div>
                        <div class="form-group col-6">
                           <button  type="button" class=" btn btn-outline-success" id="saveFood">Save</button>
                        </div>
                         <div class="form-group col-sm-1.5">
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#ManageFaveFoods">
                        Favourites</button>
                       </div>
                        <div class="form-group col-sm-2">
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#createFoods">
                       Create Food</button>
                       </div>
                        <div class="form-group col-2.5">
                          <label>Required fields *</label>
                        
                        </div>
                    </div>
                </form>
                <hr>

<div class="container" style="padding-bottom: 1px;">
<h2 id="progressStatus"></h2>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" id="red" style="">
    Long Way to go!
  </div>
  <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" id="yellow" style="">
    Getting there!
  </div>
  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" id="green" style="">
    Almost there!
  </div>
</div>
</div>
<div class="container text-right" style="padding-bottom: 20px;">
        <h4 style="color: rgb(13, 189, 13);" id="goal"></h4>
</div>



<!-- Modal -->
<div class="modal fade" id="ManageFaveFoods" tabindex="-1" role="dialog" aria-labelledby="ManageFaveFoodsTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="ManageFaveFoodsTitle">Manage Favourite Foods&nbsp;<i class="far fa-star" style='font-size:50px; color:yellow; padding-bottom:10px;'></i> </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container-fluid">
         <form id="faveForm">
                    <div class="form-row">
                        
                        <div class="form-group col-sm-12">
                            <h3 >Add Favourite Food</h3>
                            <div class="form-row">
                              <div class="form-group col-sm-9">
                             <input list="hosting-foods" type="text" class="form-control" id="addFave" placeholder="start typing....">
                             <datalist id="hosting-foods">
                               

                             </datalist>
                            </div>
                        
                        <div class="form-group col-sm-3">
                          
                             <button type="button" class="btn btn-success" id="submitFave">
                       Submit</button>
                       </div>
                        </div>
                        </div>

                         <div class="form-group col-sm-12">
                            <h3 >Delete Favourite Food</h3>
                            <div class="form-row">
                              <div class="form-group col-sm-9">
                             <input list="fave-foods" type="text" class="form-control" id="deleteFave" placeholder="search favourite....">
                             <datalist id="fave-foods">
                               

                             </datalist>
                            </div>
                        
                        <div class="form-group col-sm-3">
                          
                             <button type="button" class="btn btn-danger" id="delFave">
                       Delete</button>
                       </div>
                        </div>
                        </div>
                        
                    </div>
                </form>
                </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="createFoods" tabindex="-1" role="dialog" aria-labelledby="createFoodsTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="createFoodsTitle">Create New Food&nbsp;<i class="fas fa-utensils" style='font-size:50px; color:red; padding-bottom:10px;'></i> </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container-fluid">
        <form id="createForm">
                    <div class="form-row">
                        
                        <div class="form-group col-sm-6">
                            <label >Create Food *</label>
                            <input class="form-control" id="newName" name="newName" type="text">
                       
                        </div>
                        <div class="form-group col-sm-6">
                           <label >Brand Name </label>
                            <input class="form-control" id="newbName" type="text">
                        </div>
                        <div class="form-group col-sm-6">
                            <label> Default serving size *</label>
                            <input type="text" class="form-control" id="newAmount" name="newAmount">
                        </div>
                        <div class="form-group col-sm-6">
                            <label >Default Unit *</label>
                            <input class="form-control" id="newUnit" type="text" list="unitList" name="newUnit">
                            <datalist id="unitList">
                              
                            </datalist>
                             

                            
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Calories(Default size) *</label>
                            <input type="number" class="form-control" id="newCals" name="newCals">
                            
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Carbohydrates(grams) *</label>
                            <input type="number" class="form-control" id="newCarbs" name="newCarbs">
                            
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Fats(grams) *</label>
                            <input type="number" class="form-control" id="newFats" name="newFats">
                            
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Fiber(grams) *</label>
                            <input type="number" class="form-control" id="newFiber" name="newFiber">
                            
                        </div>
                        <div class="form-row">
                        
                        <div class="form-group col-sm-12">
                            <label >Protein(grams) *</h3>
                            <div class="form-row">
                              <div class="form-group col-sm-9">
                             <input  type="number" class="form-control" id="newProtein" name="newProtein">
                            
                            </div>
                        
                        <div class="form-group col-sm-3">
                          
                             <button type="button" class="btn btn-success" id="saveNewFood">
                       Submit</button>
                       </div>
                        </div>
                        </div>

                         <div id="newError" class="error col-sm-12"></div>
                         </form>
                </div>
                
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
