<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>
<script src="../javascripts/profile.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/common.css"/>

<div class="container text-center" style="padding-bottom: 20px; padding-top: 10px;">
        <h1 class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-12">Profile Manager&nbsp;<i class="fas fa-user" style='font-size:70px; color: rgb(26, 197, 26);'></i></h1>
</div>
<div class="container" style="padding-bottom: 20px;">
<div class="row">
    <div class="col" id="main-content">

        <div class="card user-card">
            <div class="card-body">
                <div class="media">
                    <img id="profpic" class="img-thumbnail rounded-circle">
                    <div class="media-body ml-3 pt-4">
                        <h3 id="username"></h3>
                        <div id="full-name"></div>
                        <div id="age" class="small text-muted"></div>
                        <div class="small text-muted" id="joinDate"></div>
                    </div>
                </div>
                <hr>
                
                <form id="userForm">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="profileFirstName">First Name</label>
                            <input type="text" class="form-control" id="profileFirstName" name="profileFirstName">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profileLastName">Last Name</label>
                            <input type="text" class="form-control" id="profileLastName" name="profileLastName"> 
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profileEmail">Gender</label>
                            <select class="form-control" id="profileGender">
                                    <option>MALE</option>
                                    <option>FEMALE</option>
                                    <option>NA</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profilePhone">Date Of Birth</label>
                            <input type="text" class="form-control colon" id="profiledob" name="profiledob">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profilePassword">Height(cm)</label>
                            <input type="number" class="form-control" id="profileHeight" name="profileHeight">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="profileConfirmPassword">Weight(kg)</label>
                            <input type="number" class="form-control" id="profileWeight" name="profileWeight">
                        </div>
                         <div class="form-group col-sm-6">
                            <label for="profileConfirmPassword">Start Day of Week</label>
                            <select class="form-control" id="startDay">
                                    <option>SUNDAY</option>
                                    <option>MONDAY</option>
                            </select>
                        </div>
                        <div id="passError" class="error col-sm-12"></div>
                        <div class="form-group col-12">
                            <button  type="button" class=" btn btn-outline-success" id="saveBtn">Save</button>
                        </div>
                    </div>
                </form>
                <hr>
                <form>
                    <h2 class="text-center" style="padding-bottom: 20px;">Best Statistics</h2>
                    <div class="form-row">
                        <div class="form-group col-sm-12 text-center">
                            <h4>Distance Covered:</h4>
                            <label id="bestDist"></label id="bestDist">
                            
                        </div>
                        <div class="form-group col-sm-12 text-center">
                            <h4>Number of Floors:</h4>
                            <label id="bestFloors"></label id="bestDist">
                            
                        </div>
                        <div class="form-group col-sm-12 text-center">
                            <h4>Number Of Steps:</h4>
                            <label id="bestSteps"></label>
                            
                        </div>
                    </div>
                        <h2 class="text-center" style="padding-bottom: 20px;">Lifetime Statistics</h2>
                        <div class="form-row">
                        <div class="form-group col-sm-12 text-center">
                            <h4>Distance covered:</h4>
                            <label id="lifeDist"></label>
                        </div>
                        <div class="form-group col-sm-12 text-center">
                            <h4>Number of Floors:</h4>
                            <label id="lifeFloors"></label>
                        </div>
                        <div class="form-group col-sm-12 text-center">
                            <h4>Number of Steps:</h4>
                            <label id="lifeSteps"></label>
                        </div>
                        
                        <div id="passError" class="error col-sm-12"></div>
                    
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
</div>
