<script src="../javascripts/stepcount.js"></script>
<link rel="stylesheet" type="text/css" href="../stylesheets/common.css"/>
<div class="container text-center">
        <h1 class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-12">Weekly Step Count Breakdown&nbsp;<i class="fas fa-chart-line" style='font-size:80px; color: yellow;'></i></h1 class="">
</div>
<div class="container" style="padding-bottom: 50px;">

        <canvas class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-12" id="stepcount" width="1400vw" height="475vh" style="border: 2px white; border-radius: 20px"></canvas>
</div>
<div class="container" style="padding-bottom: 1px;">
<h2 id="progressStatus"></h2>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" id="red" style="">
    Long Way to go!
  </div>
  <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" id="yellow" style="">
    Getting there!
  </div>
  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" id="green" style="">
    Almost there!
  </div>
</div>
</div>
<div class="container text-right" style="padding-bottom: 5px;">
        <h4 style="color: rgb(13, 189, 13);" id="goal"></h4>
</div>
<div class="container text-center" style="padding-bottom: 40px;">
        <h2>Today's Step Counter:</h2>
        <h2 id="stepcounter" style="padding-bottom: 5px;"></h2>
         <i class="fas fa-shoe-prints" style='font-size:50px; color: yellow;'></i>

</div>
<div class="container" style="width: 70%;">
 <form id="heartForm" style= "border: solid 4px white!important;border-radius:30px;background-image: linear-gradient(to bottom,  #93FB9D 0%, rgb(9, 251, 130) 100%)">
                    <div class="form-row">
                            <div class="form-group col-sm-12 text-center">
                                    <h2 style="color:white">Statistical Breakdown</h2>

                            </div>
                           
                        <div class="form-group col-sm-12 text-center">
                                    <h3 style="color:white">Today's Statistics Summary</h3>

                            </div>
                         <div class="form-group col-sm-4 text-center">
                            <h4 style="color:white;" id="todaySteps">Steps: N/A</h4>
                           
                           
                        </div>
                        <div class="form-group col-sm-4 text-center">
                            <h4 style="color:white" id="todayFloors">Floors: N/A</h4>
                           
                        </div>
                        <div class="form-group col-sm-4 text-center">
                            <h4 style="color:white" id="todayDistance">Distance: N/A</h4>
                           
                        </div>
                        <div class="form-group col-sm-12 text-center">
                                    <h3 style="color:white" id="best">Best Statistics Summary</h3>

                            </div>
                        <div class="form-group col-sm-4 text-center">
                             <h4 style="color:white;" id="bestSteps">Steps: N/A</h4>
                           
                        </div>
                        <div class="form-group col-sm-4 text-center">
                            <h4 style="color:white" id="bestFloors">Floors: N/A</h4>
                           
                        </div>
                        <div class="form-group col-sm-4 text-center">
                            <h4 style="color:white" id="bestDist">Distance: N/A</h4>
                           
                        </div>
                        <div class="form-group col-sm-12 text-center">
                                    <h3 style="color:white">Lifetime Statistics Summary</h3>

                            </div>
                          <div class="form-group col-sm-4 text-center">
                            <h4 style="color:white;" id="lifeSteps">Steps: N/A</h4>
                           
                           
                        </div>
                        <div class="form-group col-sm-4 text-center">
                            <h4 style="color:white" id="lifeFloors">Floors: N/A</h4>
                           
                        </div> 
                        <div class="form-group col-sm-4 text-center">
                            <h4 style="color:white" id="lifeDist">Distance: N/A</h4>
                           
                        </div>
                        
                    </div>
                </form>
</div>