.navbar-nav {
    font-size: 26px;
    color: #fff;
}
.navbar {
    max-height: 70px;
  }

.navbar-brand {
    font-family:'Oswald',sans-serif;
    padding-right: 15px;
    font-size: 26px;
}

.navbar-nav li{
    font-family:'Oswald',sans-serif;
    padding-left: 15px;
    padding-right: 15px;

}


.btn{
    font-family:'Oswald',sans-serif;
    margin-bottom: 5px;
    height: 225px;
    width: 350px;
    border-radius: 25px;
}

.btn-outline-warning:hover{
    color: white!important;
}
.btn-warning{
    color: white!important;
}



.btn-outline-danger{
    border-color:#FF0000;
    color: #FF0000 ;

}

.btn-outline-danger:hover{
    background-color: #FF0000!important;
    

}

.btn-outline-warning{
    border-color:yellow;
    color: yellow ;

}

.btn-outline-warning:hover{
    background-color: yellow!important;
    

}

.btn-outline-success{
    border-color:rgb(26, 197, 26);
    color: rgb(26, 197, 26) ;

}

.btn-outline-success:hover{
    background-color: rgb(26, 197, 26)!important;
    

}




