h1{
    font-family:'Oswald',sans-serif;
    font-size: 60px;    

}

h2{
    font-family:'Oswald',sans-serif;
    font-size: 40px;
}

h4{
  font-family:'Oswald',sans-serif;
}

h3{
  font-family:'Oswald',sans-serif;
}


@keyframes heartbeat {
    0% {
      transform: scale( 1 );    
    }
    20% {
      transform: scale( 1.25 ) 
        translateX(5%) 
        translateY(5%);
    } 
    40% {
      transform: scale( 1.5 ) 
        translateX(9%) 
        translateY(10%);
    }
  }

.fa-heartbeat{
    animation: heartbeat 1s infinite;
    
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fa-shoe-prints{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.progress-bar{
  width: 0%;
}

.select2 {
  width:100%!important;
  }
.select2-selection__rendered {
  line-height: 38px !important;
}
.select2-container .select2-selection--single {
  height: 38px !important;
}
.select2-selection__arrow {
  height: 38px !important;
}

.btn{
  font-family:'Oswald',sans-serif;
  padding-left: 5px;
  margin-bottom: 5px;
  height: 45px;
  width: 95px;
  border-radius: 15px;
}


/* The Close Button */
.close {
  position: absolute;
  color: rgb(209, 90, 90);
  top: 0;
 right: 14px;
  font-size: 42px;
  font-weight: bold;
 
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.select2-container .is-invalid {
  border-color: rgb(233, 51, 48) !important;
}
.select2-container .is-valid {
  border-color: green !important;
}

canvas#balanceGauge {
  width: 100% !important;
  height: auto !important;
}

canvas#minutesGauge {
  width: 100% !important;
  height: auto !important;
}

canvas#distanceGauge {
  width: 100% !important;
  height: auto !important;
}
  